$button-height: 40px;

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $primary-text;
  border-radius: $radius;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: $button-height;
  padding-left: $m * 2;
  padding-right: $m * 2;
  user-select: none;
  border: none;

  &:hover {
    background-color: darken($primary, 5%);
    color: $primary-text;
  }

  &:active {
    background-color: darken($primary, 10%);
    color: $primary-text;
  }
}

.button--secondary {
  background-color: $secondary;
  color: $secondary-text;

  &:hover {
    background-color: darken($secondary, 5%);
    color: $secondary-text;
  }

  &:active {
    background-color: darken($secondary, 10%);
    color: $secondary-text;
  }
}
