.header {
	height: $header-height;
	padding: 0;
	background: $primary;
  box-shadow: 0 0 5px rgba($bark, 0.5);
  user-select: none;

  & a {
    text-decoration: none;
  }

  & h1 {
    line-height: $header-height;
    font-weight: 400;
    color: $secondary;
  }

  & nav a {
    display: inline-block;
    height: $header-height;
    line-height: $header-height;
    padding: 0 $m * 2;
    min-width: 50px;
    text-align: center;
    color: $secondary;
    will-change: background-color;
  }

  & nav a:hover,
  & nav a:active {
    background: rgba($bark,0.1);
  }

  & nav a.is-active {
    background: rgba($bark,0.2);
  }
}

.header__container {
  @extend .container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
