
// ========================
// Home Route
// ========================
// .home {}

// ========================
// ELEMENTS
// ========================
// .home__title {}

// .home__description {}

.home__title {
  margin-bottom: $m;
}

.home__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $m;
  background-color: rgba($primary, 0.15);
  transition: box-shadow 0.2s ease-in-out, background-color 0.1s ease-in-out;
  height: 80px;
  font-size: $font-size-h3;
  cursor: pointer;
  user-select: none;

  * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $secondary;
    height: 100%;
    width: 100%;

    &:hover {
      color: $secondary;
    }

    &:active {
      color: $secondary;
    }
  }

  &:hover {
    background-color: rgba($primary, 0.4);
  }
}


// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
